@using proyectoAsistencia.Utils
@model proyectoAsistencia.Models.Curso

@{
    ViewData["Title"] = "Editar curso";
}

<div class="card mt-5">
    <div class="card-header bg-gradient bg-success">
        <h3 class="text-secondary text-white text-center">@ViewData["Title"]</h3>
    </div>

    <div class="card-body">
        <div class="row">
            <div class="col-md-12">
                <form asp-action="Edit">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <input type="hidden" asp-for="Id" />
                    <div class="form-group">
                        <label asp-for="Nombre" class="control-label"></label>
                        <input asp-for="Nombre" class="form-control" />
                        <span asp-validation-for="Nombre" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="ciclo" class="control-label"></label>
                        <select asp-for="ciclo" class="form-control" asp-items="@Html.GetEnumSelectList<Ciclo>()" ></select>
                        <span asp-validation-for="ciclo" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="DocenteId" class="control-label"></label>
                        <select asp-for="DocenteId" class="form-control" asp-items="ViewBag.DocenteId"></select>
                        <span asp-validation-for="DocenteId" class="text-danger"></span>
                    </div>

                    <div class="form-group mt-3 text-end">
                        <a asp-action="Index" class="btn btn-info text-white"><i class="fas fa-arrow-alt-circle-left"></i>&nbsp;Regresar</a>
                        <button type="submit" class="btn btn-success"><i class="fa-solid fa-floppy-disk"></i>&nbsp;Guardar</button>
                    </div>

                </form>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
