@model proyectoAsistencia.ViewModel.LoginViewModel
@{
    ViewData["Title"] = "Acceso denegado";
}

<div class="card m-5">
    <div class="card-body">
        <div class="text-center">
            <h2 class="h1 text-danger">Acceso denegado</h2>
            <img src="~/img/5624013.png" class="w-auto" alt="Alternate Text" />
        </div>
    </div>
</div>